* {
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}


a {
    text-decoration: none;
    color: red;
}

li {
    text-decoration: none;
    list-style: none;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}

#indexVh1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

.indexVp {
    margin-bottom: 1px;
}

.newsVp {
    margin-top: 15px;
}

.logo {
    background: #000;
    height: 220px;
    display: flex;
    justify-content: center;
    outline: none;
}

.glogo1 {
    width: 210px;
    height: auto;
    box-sizing: border-box;
    outline: none;
}

.glogo2 {
    width: 270px;
    height: auto;
    box-sizing: border-box;
    outline: none;
}

.glogo3 {
    width: 210px;
    height: auto;
    box-sizing: border-box;
    outline: none;
}

.glogo4 {
    width: 210px;
    height: auto;
    box-sizing: border-box;
}

.glogo5 {
    width: 210px;
    height: auto;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

nav {
    margin: auto;
    height: 100px;
    text-align: center;
}

.ulnav {
    display: flex;
    background-color: #fff;
    font-size: 25px;
    margin-top: 50px;
    justify-content: center;
    padding: 10px 10px;
    margin-left: 15px;
    text-decoration: none;
}

.ulnav a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 25px;
}

.ulnav a:hover {
    border-bottom: 2px solid #000;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

main .indexpage {
    text-align: center;
}

.nsxold {
    width: 50%;
    margin-bottom: 25px;
    margin-top: 25px;
    outline: 5px solid black;
}

section {
    margin-bottom: 30px;
}

section p {
    padding-left: 100px;
    padding-right: 100px;
}

.newsimg {
    width: 780px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    outline: 5px solid black;
}

footer {
    background: url(../img/carbon.jpg);
    text-align: center;
    padding: 0 0 25px 0;
    color: #fff;
}

.top1 {
    margin-top: 550px;
}

.top1 h1 {
    text-align: justify;
    padding-left: 50px;
}

.about_right {
    margin-left: 150px;
}

.about_right h1 {
    display: inline-block;
    border-bottom: 3px solid;
    padding-bottom: 20px;
}

.about_right p {
    margin: 30px 0 50px 0;
}

main .main_about {
    display: flex;
    padding: 100px 0 100px 0;
}

section h1 {
    text-align: center;
    font-size: 24px;
}

h2 {
    text-align: center;
}

iframe {
    border: 3px solid black;
}

.flogo {
    height: 100px;
    width: auto;
    outline: none;
}

.galeryimg {
    width: 550px;
    height: auto;
    outline: 5px solid black;
    margin-bottom: 15px;
}

.video {
    margin-bottom: 40px;
}

@media screen and (max-width: 1110px) {
    .glogo1 {
        display: none;
    }

    .glogo5 {
        display: none;
    }
}
